<!DOCTYPE html>
<html lang="en">
	<style>
		h3 {
			color: var(--light);
			margin-top: 3rem;
			text-align: center;
		}
	</style>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../../public/favicon.png" type="image/png" />
		<link rel="stylesheet" href="../../public/global.css" />
		<title>Animeow | Password Reset Successful</title>
	</head>
	<body>
		<h3>Password reset successful!</h3>
	</body>
</html>
