<!DOCTYPE html>
<html lang="en">
	<style>
		form {
			margin-top: 4rem;
			display: grid;
			place-content: center;
			gap: 1rem;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
				Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
				sans-serif;
			font-weight: 600;
		}

		input {
			font-size: 1.125rem;
			padding: 0.25rem;
		}

		button {
			font-size: 1rem;
			font-weight: 500;
			padding: 0.5rem;
			text-transform: uppercase;
		}
	</style>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Animeow | Reset Password</title>
	</head>
	<body>
		<form
			action="/v1/auth/reset-password?token={{token}}"
			method="post"
			enctype="application/x-www-form-urlencoded"
		>
			<input
				type="password"
				id="new-password"
				name="newPassword"
				placeholder="Enter new password"
				required
			/>
			<input
				type="password"
				id="confirm-new-password"
				name="confirmNewPassword"
				placeholder="Confirm new password"
				required
			/>
			<button type="submit">Reset password</button>
		</form>
	</body>
</html>
